<!DOCTYPE html>
<html lang="en">
<head>
    <title>Twitter Post Uploader</title>
</head>
<body>
    <h1>Welcome to Twitter Post Uploader</h1>
    <a href="/auth/twitter">Sign in with Twitter</a>
</body>
</html>
